@keyframes ConfirmationMove {
  0%   {right: -200px;}
  25%  {right: 0;}
  75%  {right: 0;}
  100% {right: -200px;}
}

.App {
  text-align: center;
  position: relative;
}

.TopButtons {
  display: flex;
  width: 96vw;
  margin: auto;
  place-content: space-between;
  display: none;

}

.TopButtons button {
  padding: 8px 12px;
  border: 1px solid black;
  margin: 6px 0;
  border-radius: 8px;
  background: white;
}

.ProductList {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3) inset;
  box-sizing: border-box;
  padding: 8px;
  width: 96vw;
  margin: auto;
  border-radius: 16px;
  background-color: #ddd;
  box-sizing: border-box;
}

.Product {
  display: block;
  width: 180px;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  margin: 10px;
  background-color: white;
}

.Product img{
  width: 100%;
  border-radius: 9px;
}

.Product h3, .Product h4 {
  margin: 10px;
}

.Product h4 {
  color: #666;
}

.Product button {
  color: white;
  background-color: black;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 8px 12px;
  font-weight: bold;
  margin-bottom: 12px;
  cursor: pointer;
}

.Product button:hover {
  color: black;
  background-color: white;
}

.TotalValue {
  width: 100vw;
  position: fixed;
  background-color: black;
  color: white;
  bottom: 0;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.3);
  padding-top: 10px;
}

.TotalValue .orders {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  place-items: center;
}

.TotalValue .order_item {
  margin: 10px;
  display: flex;
}

.TotalValue .order_item legend {
  margin-right: 10px;
}

.TotalValue .order_item button {
  background-color: greenyellow;
  border: none;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.TotalValue .order_item button:hover {
  opacity: 0.7;
}

.TotalValue .order_item button:nth-of-type(2) {
  background-color: tomato;
  color: white;
  margin-left: 5px;
}

.TotalValue .close_order {
  display: flex;
  place-content: center;
  place-items: center;
}

.TotalValue .close_order button {
  background-color: greenyellow;
  border: none;
  margin-left: 30px;
  padding: 12px 30px;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
}

.TotalValue .close_order button:hover {
  color: white;
  background-color: green;
}

.TotalValue .close_order button:disabled {
  opacity: 0.3;
  background-color: greenyellow;
  color: black;
  cursor: default;
}

.TotalValue textarea {
  width: 260px;
  padding: 12px;
  resize: none;
  font-family: inherit;
}

.CreditCard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  z-index: 100;
}

.CreditCard form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.CreditCard form input {
  margin: 2px;
  padding: 6px;
}

.CreditCard button {
  background-color: greenyellow;
  margin-top: 20px;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.CreditCard button:hover {
  background-color: green;
  color: white;
}

.Confirmation {
  background-color: black;
  color: white;
  position: fixed;
  padding: 30px;
  top: 0;
  right: -200px;
  box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3);
  animation-name: ConfirmationMove;
  animation-duration: 4s;
}